h1 {
    color:white;
    background-color:black;
    font-family: cursive;
}
span {
    color:aqua;
}
h2 {
    text-align: center;
    color: white;
    background-color: magenta;
    font-style: italic;
}
h3 {
    text-align: right;
    text-decoration: underline;
    color:black;
    background-color:lightblue;
}